{% include 'reportsapp/base.html' %}
{% load i18n %}

{% block content %}

    {% trans "Please see the " as m1 %}
    {% trans "documentation link" as doclink %}
    {% trans "to a full tutorial" as m2 %}
    {% trans "Default Report" as df %}
    {% trans "You can add a " as m3 %}
    {% trans " before the line to mark an optional line" as m4 %}
    {% trans " : See the documentation for a variety of placeholders" as m5 %}
    <div class="post-form">
        <label style="color: whitesmoke; font-size: 15px; text-align: center">{{ m1 }}<a
                href="https://documentation.nwa2coco.fr">{{ doclink }}</a>{{ m2 }}</label>
        <label style="color: whitesmoke; font-size: 15px; text-align: center"><u><i>{{ df }}</i></u>{{ m3 }}<b><span
                style="color: red; font-size: 18px">#</span></b>{{ m4 }}</label>
        <label style="color: whitesmoke; font-size: 15px; text-align: center"><i><u>Template</u></i>{{ m5 }}</label>
    </div>
    <div class="post-form">
        <textarea
                style="width: 40%; height: 40%; margin-left: auto; margin-right: 1%; background-color: slategray"
                placeholder="Template" id="template"></textarea>
        <textarea style="width: 40%; height: 40%; margin-right: auto; background-color: slategray"
                  placeholder="Default Report" id="default"></textarea>
    </div>
    <div class="post-form">
        <button class="btn btn-primary" onclick="tellDjango(0)">Send Template</button>
        <button class="btn btn-primary" onclick="tellDjango(1)">Send Default Report</button>
        <button class="btn btn-primary" onclick="tellDjango(2)">Send Both of them</button>
    </div>
{% endblock %}