{% include 'reportsapp/base.html' %}
{% load i18n %}

{% block content %}
    {% if messages %}
        <script>
            {% for message in messages %}
                M.toast({html: '{{ message }}'});
            {% endfor %}
        </script>
    {% endif %}


    <div class="post-form">
        <form action="/reports/profile" method="post"
              style="width: 80%; text-align: center; margin: 0 auto; color: white">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary btnsubmit" type="submit" value="{% trans "Change Vessel" %}">
        </form>
        <label style="font-size: 18px; text-align: center">{% trans "Your UUID (to link your accounts) :" %} <b><span
                style="color: red;">{{ session.uuid }}</span></b></label>
    </div>
{% endblock %}
<footer class="page-footer"
        style="position:fixed;bottom:0;left:0;width:100%;background-color: #222; border-color: #080808">
    <div class="container">
        <p style="text-align: center">
            {% trans "Developed by LTCR Charlotte THOMAS from the USS Versailles, R9. To contact me : contact@nwa2coco.fr or via Facebook" %}
            <a href="ml">{% trans "Legal" %}</a>
        </p>
    </div>
</footer>