{% extends 'reportsapp/base.html' %}
{% load i18n %}
{% block content %}
    {% if messages %}
        <script>
            {% for message in messages %}
                {% trans message as translated_message %}
                M.toast({html: '{{ translated_message }}'});
            {% endfor %}
        </script>
    {% endif %}
    <div class="post-form">
            <textarea type="text" class="areareport materialize-textarea"
                      style="width: 70%; height: 70%; background-color: lightslategray" id="report"
                      onkeydown="callPythonOnChange(this)">{{ default_value }}</textarea>
        <button class="btn btn-primary btnsubmit" type="submit" value="Send Report"
                onclick="callPythonReport()">{% trans "Send Report" %}
        </button>
    </div>
    <div class="post-form">
        {% if isco %}
            <button class="btn btn-primary" id="customization" onclick="callPythonOnClick('custom')">{% trans "Customization" %}
            </button>
        {% endif %}
        <button class="btn btn-primary" id="profile" onclick="callPythonOnClick('profile')">{% trans "Profile" %}</button>
        <button class="btn btn-danger" disabled="true" id="destroy_account" onclick="destroy()">{% trans "Destroy Account" %}
        </button>
        <button class="btn btn-danger" id="unlock" onclick="unlock()">{% trans "Unlock Destroy Account Button" %}</button>
    </div>
{% endblock %}